@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url('images/bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-inline-start: 60px;
}

header {
    grid-column: 1/-1;
    margin-block-start: 30px;
    margin-block-end: 50px;
}

header img {
    width: 200px;
}

.big-img {
    grid-column: 1/2;
}

.content {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 20px;

    color: white;

    align-self: stretch;
    justify-self: center;
    padding-block-start: 40px;
}

.content h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 38px;
}

.content p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.content button {
    background-color: white;
    color: hsl(257, 40%, 49%);
    width: 220px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    transition: background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
}

.content button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

footer {
    grid-column: 1/-1;
    justify-self: end;
    height: 50px;
    padding-right: 50px;
}

.social {
    width: 35px;
    height: 35px;
    margin-inline-start: 10px;
    transition: background-image 0.2s;
    background-color: transparent;
    border: none;
}

.facebook {
    background-image: url(images/facebook-white.svg);
    cursor: pointer;
}

.facebook:hover {
    background-image: url(images/facebook-colored.svg);
}

.twitter {
    background-image: url(images/twitter-white.svg);
    cursor: pointer;
}

.twitter:hover {
    background-image: url(images/twitter-colored.svg);
}

.instagram {
    background-image: url(images/instagram-white.svg);
    cursor: pointer;
}

.instagram:hover {
    background-image: url(images/instagram-colored.svg);
}